/* font */
/* color */
/* background */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  color: #101214;
  background-color: #FFFFFF;
  height: 100%;
}

.main-page {
  height: 100vh;
  min-height: 700px;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 1229px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1230px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1230px) {
  .container {
    width: 1230px;
  }
}

input {
  display: block;
  height: 100%;
  width: 100%;
}

label {
  display: block;
}

.title {
  font-weight: 600;
  line-height: 1.1904761905;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
  }
}

.title-light {
  color: #FFFFFF;
}

.title-dark {
  color: #101214;
}

@media screen and (max-width: 767px) {
  .title-big-margin {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .title-big-margin {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .title-small-margin {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .title-small-margin {
    margin-bottom: 80px;
  }
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .header::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 173, 0);
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  line-height: 1.2142857143;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__logo .logo-light-part {
  color: #FFFFFF;
}
.header__logo .logo-dark-part {
  color: #101B28;
}
@media screen and (max-width: 767px) {
  .header__logo {
    position: relative;
    z-index: 3;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 140px 30px 30px;
    background-color: rgb(255, 173, 0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
    transition: opacity 250ms linear, -webkit-transform 250ms linear;
    transition: opacity 250ms linear, transform 250ms linear;
    transition: opacity 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
    pointer-events: none;
    overflow-y: scroll;
  }
  .nav__list.is-open {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    pointer-events: all;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .nav__item + .nav__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-left: 30px;
  }
}

.nav__link {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 15px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #101B28;
}

@media screen and (max-width: 767px) {
  .btn-mobil-menu {
    position: relative;
    z-index: 3;
    margin-left: auto;
    width: 28px;
    height: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .btn-mobil-menu {
    display: none;
  }
}
.btn-mobil-menu .btn-burger {
  display: block;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: background-color 250ms ease-in-out, -webkit-transform 250ms linear;
  transition: background-color 250ms ease-in-out, -webkit-transform 250ms linear;
  transition: transform 250ms linear, background-color 250ms ease-in-out;
  transition: transform 250ms linear, background-color 250ms ease-in-out, -webkit-transform 250ms linear;
}
.btn-mobil-menu::before, .btn-mobil-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: background-color 250ms ease-in-out, -webkit-transform 250ms linear;
  transition: background-color 250ms ease-in-out, -webkit-transform 250ms linear;
  transition: transform 250ms linear, background-color 250ms ease-in-out;
  transition: transform 250ms linear, background-color 250ms ease-in-out, -webkit-transform 250ms linear;
}
.btn-mobil-menu::before {
  top: 0;
}
.btn-mobil-menu::after {
  bottom: 0;
}
.btn-mobil-menu.btn-active .btn-burger {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.btn-mobil-menu.btn-active::before {
  -webkit-transform: rotate(-45deg) translateY(8px);
          transform: rotate(-45deg) translateY(8px);
}
.btn-mobil-menu.btn-active::after {
  -webkit-transform: rotate(45deg) translateY(-8px);
          transform: rotate(45deg) translateY(-8px);
}
.btn-mobil-menu:hover .btn-burger, .btn-mobil-menu:focus .btn-burger {
  background-color: #101B28;
}
.btn-mobil-menu:hover::before, .btn-mobil-menu:focus::before {
  background-color: #101B28;
}
.btn-mobil-menu:hover::after, .btn-mobil-menu:focus::after {
  background-color: #101B28;
}

.hero {
  height: 100%;
  background-color: rgb(255, 173, 0);
  padding-bottom: 256px;
  margin: 0 auto;
  background-image: url(../img/hero/hero4.png), url(../img/SVG/hero/lines2.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 160px;
    background-position: bottom right, top right;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 235px;
    background-position: bottom, top right;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 235px;
    background-position: bottom, top;
  }
}

.hero__title {
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 570px;
  margin-bottom: 40px;
}
@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.hero__link .hero__link-icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
  --color1: rgba(255, 255, 255, 0.75);
  --color2: #fff;
}
.hero__link .hero__link-icon:last-child {
  fill: #FFAD00;
}
.hero__link:hover, .hero__link:focus {
  color: #101B28;
}
.hero__link:hover .hero__link-icon:last-child, .hero__link:focus .hero__link-icon:last-child {
  fill: #101B28;
}

.hero__btn {
  display: block;
  border: none;
  cursor: pointer;
  background: #101B28;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media screen and (max-width: 479px) {
  .hero__btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  .hero__btn {
    padding: 16px 36px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  color: rgb(255, 173, 0);
}

.advantages {
  background-image: url(../img/SVG/advantages-bottom.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1229px) {
  .advantages {
    padding-top: 86px;
    padding-bottom: 296px;
  }
}
@media screen and (max-width: 767px) {
  .advantages {
    background-position: left bottom;
  }
}
@media screen and (min-width: 1230px) {
  .advantages {
    padding-bottom: 396px;
    padding-top: 124px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .advantages__list .advantages__item + .advantages__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    gap: 100px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 200px) / 3);
  }
}

.advantages-card__number-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.advantages-card__bckgr-icon {
  stroke: rgba(107, 107, 107, 0.15);
}
@media screen and (max-width: 767px) {
  .advantages-card__bckgr-icon {
    width: 88px;
    height: 78px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-card__bckgr-icon {
    width: 110px;
    height: 98px;
  }
}

.advantages-card__number {
  position: absolute;
  left: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2222222222;
  color: rgb(255, 173, 0);
}
@media screen and (max-width: 767px) {
  .advantages-card__number {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-card__number {
    font-size: 54px;
  }
}

.advantages-card__title {
  max-width: 240px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3636363636;
  color: #131312;
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .advantages-card__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1230px) {
  .advantages-card__title {
    font-size: 22px;
  }
}

.advantages-card__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #4E4E4E;
}

@media screen and (max-width: 1229px) {
  .areas-work {
    padding-bottom: 86px;
  }
}
@media screen and (min-width: 1230px) {
  .areas-work {
    padding-bottom: 124px;
  }
}

.areas-work__title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .areas-work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1px;
  }
}

.areas-work__item {
  background-color: rgb(255, 173, 0);
}
@media screen and (max-width: 767px) {
  .areas-work__item + .areas-work__item {
    margin-top: 2px;
  }
}
@media screen and (min-width: 768px) {
  .areas-work__item {
    width: calc((100% - 1px) / 2);
  }
}
@media screen and (max-width: 1229px) {
  .areas-work__item {
    padding-top: 86px;
    padding-bottom: 86px;
  }
}
@media screen and (min-width: 1230px) {
  .areas-work__item {
    padding-top: 112px;
    padding-bottom: 102px;
  }
}

.areas-work__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.areas-work__icon {
  stroke: #FFFFFF;
  stroke-width: 1.5px;
  fill: none;
  margin-bottom: 72px;
}

.card__title {
  position: relative;
  text-align: center;
  font-weight: 400;
  line-height: 1.2083333333;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.card__title::after {
  position: absolute;
  bottom: -16px;
  left: 0;
  content: "";
  background-color: #FFFFFF;
  width: 100%;
  height: 1px;
}
@media screen and (max-width: 1229px) {
  .card__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1230px) {
  .card__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .about__top-part {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__top-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .about__top-part_first-block {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .about__top-part_first-block {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .about__top-part_second-block {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 100px;
    margin-top: 16px;
  }
}

.about__label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-shadow: -0.6px 0px 0px rgb(255, 173, 0), 0.6px 0px 0px rgb(255, 173, 0), 0px -0.6px 0px rgb(255, 173, 0), 0px 0.6px 0px rgb(255, 173, 0);
}
@media screen and (max-width: 479px) {
  .about__label {
    font-size: 48px;
  }
}
@media screen and (max-width: 767px) {
  .about__label {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .about__label {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1229px) {
  .about__label {
    font-size: 78px;
  }
}
@media screen and (min-width: 1230px) {
  .about__label {
    font-size: 92px;
    margin-bottom: 40px;
  }
}

.about__content {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #101214;
}

.about__img {
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .about__img {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-bottom: 78px;
  }
}

@media screen and (min-width: 1230px) {
  .about__bottom-part {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .about__bottom-part-wrap {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .about__bottom-part-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10%;
       -moz-column-gap: 10%;
            column-gap: 10%;
  }
}

@media screen and (max-width: 767px) {
  .about__bottom-part_first-block {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__bottom-part_first-block {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .about__bottom-part_first-block {
    width: 40%;
  }
}
@media screen and (min-width: 1230px) {
  .about__bottom-part_first-block {
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1229px) {
  .about__bottom-part_second-block {
    width: 50%;
  }
}
@media screen and (min-width: 1230px) {
  .about__bottom-part_second-block {
    width: 40%;
  }
}

.form {
  background-color: rgb(255, 173, 0);
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .form {
    padding: 60px 56px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    padding: 94px 98px 94px 82px;
  }
}
@media screen and (min-width: 1230px) {
  .form {
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .about__form {
    width: 532px;
  }
}
@media screen and (max-width: 1229px) {
  .about__form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1230px) {
  .about__form {
    bottom: -40px;
    right: 0;
  }
}

.form__title {
  font-weight: 600;
  line-height: 1.37;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .form__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 28px;
  }
}

.form__about {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin-bottom: 52px;
}

.form__fields-wrap {
  margin-bottom: 40px;
  max-width: 300px;
}

.form__fields + .form__fields {
  margin-top: 30px;
}

.form__fields {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

.form__input {
  cursor: pointer;
  background: inherit;
  border: 1px solid transparent;
  border-bottom: 1px solid #FFFFFF;
  padding: 6px 10px;
  margin-top: 4px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: inherit;
  -webkit-transition: border 250ms ease-in-out;
  transition: border 250ms ease-in-out;
}

.form__fields:focus-within > .form__input {
  border: 1px solid #FFFFFF;
  outline: none;
}

.form__input-valid {
  border: 1.5px solid rgb(0, 120, 0);
}

.form__input-invalid {
  border: 1.5px solid rgb(155, 0, 0);
}

.form__btn {
  cursor: pointer;
  padding: 22px 32px;
  background-color: #FFFFFF;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.05em;
  color: #272626;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
@media screen and (max-width: 479px) {
  .form__btn {
    padding: 18px 24px;
  }
}
@media screen and (min-width: 480px) {
  .form__btn {
    padding: 22px 32px;
  }
}
.form__btn:hover, .form__btn:focus {
  color: rgb(255, 155, 0);
}

.stages {
  background-color: #212020;
  background-image: url(../img/SVG/stages.svg);
}

@media screen and (min-width: 768px) and (max-width: 1229px) {
  .stages__title {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 768px) {
  .stages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4%;
  }
}

.stages__item {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .stages__item {
    width: 32%;
  }
}

.stages-card__number-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.stages-card__bckgr-icon {
  stroke: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 767px) {
  .stages-card__bckgr-icon {
    width: 88px;
    height: 78px;
  }
}
@media screen and (min-width: 768px) {
  .stages-card__bckgr-icon {
    width: 110px;
    height: 98px;
  }
}

.stages-card__number {
  position: absolute;
  left: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2222222222;
  color: rgb(255, 173, 0);
}
@media screen and (max-width: 767px) {
  .stages-card__number {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .stages-card__number {
    font-size: 36px;
  }
}

.stages-card__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.36;
  color: #FFFFFF;
  margin-bottom: 42px;
}

.stages-card__list {
  list-style: disc;
  padding-left: 18px;
}

.stages-card__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #ECECEC;
}

:root {
  --swiper-pagination-color: #FFAD00;
}

.projects__wrap-swiper {
  position: relative;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-projects {
  padding-bottom: 40px;
}

.projects__swiper-btn-prev,
.projects__swiper-btn-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
}
.projects__swiper-btn-prev .projects__swiper-btn-icon,
.projects__swiper-btn-next .projects__swiper-btn-icon {
  fill: rgb(255, 173, 0);
  -webkit-transition: fill 250ms ease-in-out, -webkit-transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, -webkit-transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
}
.projects__swiper-btn-prev:hover .projects__swiper-btn-icon,
.projects__swiper-btn-next:hover .projects__swiper-btn-icon {
  fill: rgb(255, 155, 0);
}

.projects__swiper-btn-prev {
  left: 0;
}
.projects__swiper-btn-prev:hover .projects__swiper-btn-icon {
  -webkit-transform: scale(1.1) translateX(-2px);
          transform: scale(1.1) translateX(-2px);
}

.projects__swiper-btn-next {
  right: 0;
}
.projects__swiper-btn-next:hover .projects__swiper-btn-icon {
  -webkit-transform: scale(1.1) translateX(2px);
          transform: scale(1.1) translateX(2px);
}

.projects__item {
  padding-left: 20px;
  padding-right: 20px;
}

.projects__card-img {
  width: 100%;
}

.projects__title {
  text-align: center;
}

.projects__card-about {
  padding: 28px 22px 26px 44px;
  background-color: #212020;
}

.projects__card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.projects__card-list {
  margin-bottom: 26px;
  list-style: disc inside;
}

.projects__card-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__card-item::marker {
  color: rgb(255, 173, 0);
  font-size: 12px;
}
.projects__card-item > span {
  font-weight: 300;
}

.projects__card-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 36px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #FFFFFF;
  background-color: rgb(255, 173, 0);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.projects__card-btn:hover, .projects__card-btn:focus {
  color: #101B28;
}

.partners {
  background-color: rgb(255, 173, 0);
}

.partners__title {
  text-align: center;
}

.partners__wrap-swiper {
  position: relative;
}
@media screen and (max-width: 479px) {
  .partners__wrap-swiper {
    padding: 0 26px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .partners__wrap-swiper {
    padding: 0 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .partners__wrap-swiper {
    padding: 0 44px;
  }
}
@media screen and (min-width: 1230px) {
  .partners__wrap-swiper {
    padding: 0 102px;
  }
}

@media screen and (max-width: 479px) {
  .partners__item {
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media screen and (min-width: 480px) {
  .partners__item {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.partners__card {
  background-color: #FFFFFF;
  aspect-ratio: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
}

.partners__swiper-btn-prev,
.partners__swiper-btn-next {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}
@media screen and (max-width: 479px) {
  .partners__swiper-btn-prev,
.partners__swiper-btn-next {
    width: 36px;
  }
}
@media screen and (min-width: 480px) {
  .partners__swiper-btn-prev,
.partners__swiper-btn-next {
    width: 46px;
  }
}
.partners__swiper-btn-prev .partners__swiper-btn-icon,
.partners__swiper-btn-next .partners__swiper-btn-icon {
  fill: rgb(255, 173, 0);
  -webkit-transition: fill 250ms ease-in-out, -webkit-transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, -webkit-transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 50ms ease-in-out;
  transition: fill 250ms ease-in-out, transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
}
.partners__swiper-btn-prev:hover .partners__swiper-btn-icon,
.partners__swiper-btn-next:hover .partners__swiper-btn-icon {
  fill: rgb(255, 155, 0);
}

.partners__swiper-btn-prev {
  left: -10px;
}
.partners__swiper-btn-prev:hover .partners__swiper-btn-icon {
  -webkit-transform: scale(1.25) translateX(-2px);
          transform: scale(1.25) translateX(-2px);
}

.partners__swiper-btn-next {
  right: -10px;
}
.partners__swiper-btn-next:hover .partners__swiper-btn-icon {
  -webkit-transform: scale(1.25) translateX(2px);
          transform: scale(1.25) translateX(2px);
}

@media screen and (max-width: 767px) {
  .news__list .news__item + .news__item {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__list .news__item {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .news__list {
    gap: 30px;
  }
}
@media screen and (min-width: 1230px) {
  .news__list {
    gap: 40px;
  }
}

.news__item-about {
  background: #212020;
}
.news__item-about time {
  display: block;
  color: #CECECE;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-bottom: 14px;
}
.news__item-about h3 {
  color: #FFFFFF;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.3px;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .news__item-about h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .news__item-about h3 {
    font-size: 22px;
  }
}
@media screen and (min-width: 1230px) {
  .news__item-about h3 {
    font-size: 26px;
  }
}
.news__item-about p {
  color: rgba(228, 228, 228, 0.88);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.28px;
}
@media screen and (max-width: 767px) {
  .news__item-about {
    padding: 36px 30px 46px;
  }
}
@media screen and (min-width: 768px) {
  .news__item-about {
    padding: 44px 32px 54px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .accordion-container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .accordion-container {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1230px) {
  .accordion-container {
    padding: 0 80px;
  }
}

.ac {
  margin-top: 8px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ac .ac-header {
  margin: 0;
  padding: 0;
}
.ac .ac-trigger {
  font-weight: 600;
  color: #101214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  text-decoration: none;
  margin: 0;
  border: 0;
}
@media screen and (max-width: 767px) {
  .ac .ac-trigger {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .ac .ac-trigger {
    font-size: 22px;
  }
}
@media screen and (min-width: 1230px) {
  .ac .ac-trigger {
    font-size: 26px;
  }
}
.ac .ac-trigger:focus, .ac .ac-trigger:hover {
  color: #8a8a8a;
}
.ac .ac-trigger:hover .ac-trigger__icon {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}
.ac .ac-panel {
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.ac .ac-panel .ac-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #101214;
  padding: 8px;
  margin: 0;
}
.ac.js-enabled .ac-panel {
  visibility: hidden;
}
.ac.is-active .ac-panel {
  visibility: visible;
}
.ac.is-active > .ac-header .ac-trigger .ac-trigger__icon {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.ac.is-active > .ac-header .ac-trigger:hover .ac-trigger__icon {
  -webkit-transform: rotate(-110deg);
          transform: rotate(-110deg);
}

.ac-trigger__icon-cont {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  background-color: rgb(255, 173, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.ac-trigger__icon {
  fill: #fff;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.final-question {
  padding-top: 100px;
  background-color: rgb(255, 173, 0);
  background-image: url(../img/hero/hero2.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (max-width: 479px) {
  .final-question {
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 480px) {
  .final-question {
    padding-bottom: 220px;
  }
}
@media screen and (max-width: 767px) {
  .final-question {
    background-position: bottom left;
  }
}

@media screen and (min-width: 768px) {
  .final-question-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .final-question-cont {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.final-question__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 1.1;
  color: #232222;
}
@media screen and (max-width: 767px) {
  .final-question__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .final-question__title {
    font-size: 46px;
  }
}

@media screen and (max-width: 767px) {
  .final-question__title-wrap {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .final-question__title-wrap {
    width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1229px) {
  .final-question__about-wrap {
    width: 288px;
  }
}
@media screen and (min-width: 1230px) {
  .final-question__about-wrap {
    width: 356px;
    margin-left: 268px;
  }
}
.final-question__about-wrap .final-question__about-content {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #2d2d2d;
  margin-bottom: 26px;
}
.final-question__about-wrap .final-question__about-btn {
  padding: 16px 57px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.86;
  background-color: #FFFFFF;
  color: #252323;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.final-question__about-wrap .final-question__about-btn:hover, .final-question__about-wrap .final-question__about-btn:focus {
  color: rgb(255, 155, 0);
}

.footer {
  padding-bottom: 36px;
  background-color: #212020;
}
@media screen and (max-width: 1229px) {
  .footer {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1230px) {
  .footer {
    padding-top: 120px;
  }
}

.footer__container {
  margin-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__feedback {
    margin-bottom: 36px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  line-height: 1.21;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer__logo .footer__logo-light-part {
  color: #FFFFFF;
}
.footer__logo .footer__logo-accent-part {
  color: rgb(255, 173, 0);
}

.feedback-about {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: rgba(236, 236, 236, 0.88);
}
@media screen and (max-width: 1229px) {
  .feedback-about {
    max-width: 220px;
  }
}
@media screen and (min-width: 1230px) {
  .feedback-about {
    width: 280px;
  }
}

.feedback-btn {
  padding: 16px 26px;
  border: 1px solid rgb(255, 173, 0);
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.feedback-btn:hover, .feedback-btn:focus {
  background-color: rgb(255, 173, 0);
}

@media screen and (max-width: 767px) {
  .footer__contact-info {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    margin-left: auto;
  }
}

.contact-info__title {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .contact-info__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .contact-info__title {
    margin-bottom: 44px;
  }
}

.contacts-list__item + .contacts-list__item {
  margin-top: 20px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.contacts-link:hover, .contacts-link:focus {
  color: rgb(255, 173, 0);
}
.contacts-link .contacts-icon {
  margin-right: 12px;
  fill: rgb(255, 173, 0);
}

@media screen and (min-width: 768px) and (max-width: 1229px) {
  .footer__address-links {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1230px) {
  .footer__address-links {
    margin-left: 84px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.social-list__item + .social-list__item {
  margin-left: 16px;
}

.social-list__link .social-list__icon {
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
  fill: rgb(234, 234, 234);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: rgb(255, 173, 0);
}

.adrs-location-link {
  margin-bottom: 18px;
}

.adrs-location-link,
.working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
.adrs-location-link:hover, .adrs-location-link:focus,
.working-hours:hover,
.working-hours:focus {
  color: rgb(255, 173, 0);
}
.adrs-location-link .adrs-location-link__icon,
.adrs-location-link .working-hours__icon,
.working-hours .adrs-location-link__icon,
.working-hours .working-hours__icon {
  margin-right: 12px;
  fill: rgb(255, 173, 0);
}

.adrs-location-link__icon {
  margin-left: -2px;
}

.working-hours .working-hours__icon {
  stroke: rgb(255, 173, 0);
}

.copyright {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.35);
}/*# sourceMappingURL=main.css.map */