.footer {
    padding-bottom: 36px;
    background-color: $background-dark;

    @media screen and (max-width: 1229px) {
        padding-top: 80px;
    }

    @media screen and (min-width: 1230px) {
        padding-top: 120px;
    }
}

.footer__container {
    margin-bottom: 84px;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}



.footer__feedback {
    @media screen and (max-width: 767px) {
        margin-bottom: 36px;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 12px;
    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.21;
    user-select: none;

    .footer__logo-light-part {
        color: $main-light-color;
    }

    .footer__logo-accent-part {
        color: $accent-color;
    }
}

.feedback-about {

    @media screen and (max-width: 1229px) {
        max-width: 220px;
    }

    @media screen and (min-width: 1230px) {
        width: 280px;
    }

    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    // line-height: 20px; 
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: rgba(236, 236, 236, 0.88);
}

.feedback-btn {
    padding: 16px 26px;
    border: 1px solid $accent-color;
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: $main-light-color;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}



.footer__contact-info {
    @media screen and (max-width: 767px) {
        margin-bottom: 36px;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.contact-info__title {
    font-weight: 600;
    font-size: 18px;
    color: $main-light-color;

    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 44px;
    }

}

.contacts-list__item+.contacts-list__item {
    margin-top: 20px;
}

.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    .contacts-icon {
        margin-right: 12px;
        fill: $accent-color;
    }
}



.footer__address-links {

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        margin-left: 24px;
    }

    @media screen and (min-width: 1230px) {
        margin-left: 84px;
    }
}

.social-list {
    display: flex;
    margin-bottom: 28px;
}

.social-list__item+.social-list__item {
    margin-left: 16px;
}

.social-list__link {
    .social-list__icon {
        transition: fill 250ms ease-in-out;
        fill: rgb(234, 234, 234);
    }

    &:hover,
    &:focus {
        .social-list__icon {
            fill: $accent-color;
        }
    }
}

.adrs-location-link {
    margin-bottom: 18px;
}

.adrs-location-link,
.working-hours {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    .adrs-location-link__icon,
    .working-hours__icon {
        margin-right: 12px;
        fill: $accent-color;
    }
}

.adrs-location-link__icon {
    margin-left: -2px;
    // костиль, крива свг
}

.working-hours {
    .working-hours__icon {
        stroke: $accent-color;
    }
}



.copyright {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.35);
}