// .news__title {

// }

.news__list {

    // flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        .news__item+.news__item {
            margin-top: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;

        .news__item {
            width: calc((100% - 40px)/2);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1229px) {
        gap: 30px;
    }

    @media screen and (min-width: 1230px) {
        gap: 40px;
    }
}

.news__item-about {
    background: $background-dark;

    time {
        display: block;
        color: #CECECE;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.8px;
        margin-bottom: 14px;
    }

    h3 {
        color: $main-light-color;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.3px;
        margin-bottom: 18px;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }

        @media screen and (min-width: 768px) and (max-width: 1229px) {
            font-size: 22px;
        }

        @media screen and (min-width: 1230px) {
            font-size: 26px;
        }
    }

    p {
        color: rgba(228, 228, 228, 0.88);
        font-size: 14px;
        font-weight: 400;
        line-height: calc(19.6px/14px);
        letter-spacing: 0.28px;
    }

    @media screen and (max-width: 767px) {
        padding: 36px 30px 46px;
    }

    @media screen and (min-width: 768px) {
        padding: 44px 32px 54px;
    }
}