.partners {
    background-color: $accent-color;
}

.partners__title {
    color: $main-light-color;
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 80px;
    }
}