:root {
    --swiper-theme-color: #FFAD00;
}


.projects-wrap {
    position: relative;
}

.swiper-button-prev {
    left: -36px;
}

.swiper-button-next {
    right: -36px;
}

.swiper-pagination {
    bottom: -36px !important;
}