/* font */

$main-font: 'Exo 2', sans-serif;
$secondary-font: 'Montserrat', sans-serif;


/* color */
$light-font-color: #FFFFFF;
$dark-font-color: #101214;
$accent-color: #FFAD00;


// $background-color: #181717;
// $main-color: #F1F1F1;
// $btn-background-color: #151313;
// $hov-color: #DAA35F;
// $act-color: #CB8D40;
// $dis-color: #302E2B;