/* font */
$main-font: 'Exo 2', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/* color */
$main-light-color: #FFFFFF;
$main-dark-color: #101214;
$secondary-dark-color: #101B28;
$accent-color: rgb(255, 173, 0);
$accent-color-hover: rgb(255, 155, 0);

/* background */
$background-dark: #212020;